{% extends 'accounts/accounts_base.html' %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}

{% block content %}

    <div class="card card-body">
        <div class="mb-3">
            <h5>Reset your password</h5>
        </div>

            {% if form.non_field_errors%}
                {%for error in form.non_field_errors%}
                    <p class='alert alert-danger'>{{error}}</p>
                {%endfor%}
            {% endif %}
            <form action="{% url 'accounts:reset_password' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-label" for="id_email">Email Address:</label>
                    <div class="input-group input-group-merge">
                        <input type="email" class="form-control form-control-prepended" name="email" id="id_email" maxlength="200" required placeholder="Enter your email address">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p class='alert alert-danger'>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type='submit' class="btn btn-lg btn-primary btn-block" value="Reset">
                </div>
            </form>
        </div>

{% endblock %}