{% extends 'base.html' %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}

{% block content %}

        <div class="page__heading border-bottom">
            <div class="container-fluid page__container d-flex align-items-center">
                    <h1 class="mb-0">Reset Password</h1>
            </div>
        </div>

            <form action="{% url 'accounts:reset_password' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="container-fluid page__container">


            <div class="card card-form">
                <div class="row no-gutters">
                    <div class="col-lg-8 card-form__body card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="opass">Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Kindly Input Your Registered Email" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="text-right mb-5">
                <input type="submit" class="btn btn-success" value=Save>
            </div>
        </div>
    </form>

{% endblock %}