{% extends 'accounts/accounts_base.html' %}

{% block title %}
    <title>Validate Token</title>
{% endblock %}

{% block content %}

    <div class="card card-body">
        <div class="mb-3">
            <h6>Enter the verification code sent to your mail</h6>
        </div>

            {% if form.non_field_errors%}
                {%for error in form.non_field_errors%}
                    <p class='alert alert-danger'>{{error}}</p>
                {%endfor%}
            {% endif %}
            <form action="{% url 'accounts:validate_password_token' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-label" for="opass">Token:</label>
                    <div class="input-group input-group-merge">
                        <input id="opass" type="text" name="token" class="form-control form-control-prepended" placeholder="Kindly Input Your Token" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}