{% extends 'accounts/accounts_base.html' %}
{% block title %}
    <title>New Password - Learnyn</title>
{% endblock %}
{% block content %}

        <div class="card card-body">
            <div class="mb-3">
                <h5>Set your new password</h5>
            </div>
            {% if form.errors%}
                {% for field in form%}
                    {%for error in field.errors%}
                        <p class='alert alert-danger'>{{error}}</p>
                    {%endfor%}
                {%endfor%}
            {% endif %}
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-label" for="id_password1">Password:</label>
                    <div class="input-group input-group-merge">
                        <input id="id_password1" type="password" name="password1" required class="form-control form-control-prepended" placeholder="Enter your password">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-key"></span>
                            </div>
                        </div>
                    </div>
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p class='alert alert-danger'>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="text-label" for="id_password2">Confirm Password:</label>
                    <div class="input-group input-group-merge">
                        <input id="id_password2" type="password" name="password2" required class="form-control form-control-prepended" placeholder="Confirm your password">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-key"></span>
                            </div>
                        </div>
                    </div>
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p class='alert alert-danger'>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type='submit' class="btn btn-lg btn-primary btn-block" value="Login">
                </div>

                <div class="form-group text-center">
                    <a href="">Forgot password?</a> <br>
                    Don't have an account? <a href="{% url 'accounts:register' %}">Sign up!</a>
                </div>
            </form>
        </div>

{% endblock %}