{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Classroom List</title>
{% endblock %}

{% block content %}

    <div class="page__heading border-bottom">
        <div class="container-fluid page__container d-flex align-items-center">
            <h1 class="mb-0">Class Rooms</h1>
        </div>
    </div>

    <div class="container-fluid page__container">
        <form action="{% url 'school:classroom_list' %}" class="mb-3 border-bottom pb-3">
            <div class="d-flex">
                <div class="search-form mr-3 search-form--light">
                    <input type="text" class="form-control" placeholder="Search Classrooms" id="searchSample02" name="classroom">
                    <button class="btn" type="button"><i class="material-icons">search</i></button>
                </div>

                 <div class="form-inline ml-auto">
                    <div class="form-group mr-3">
                        <a href="{% url 'school:create_classroom' %}" class="btn btn-success ml-auto"><i class="material-icons">add</i> New Classroom</a>
                    </div>
                    {% comment %} <div class="form-group">
                        <label for="published01" class="form-label mr-1">Status</label>
                        <select id="published01" class="form-control custom-select" style="width: 200px;">
                            <option selected>All</option>
                            <option value="1">In Progress</option>
                            <option value="3">New Releases</option>
                        </select>
                    </div>  {% endcomment %}
                </div>
            </div>
        </form>

        <div class="row">

            {% for classroom in classrooms %}
            <div class="col-md-3">
                <div class="card card__course">
                    <div class="card-header card-header-large card-header-dark bg-dark d-flex justify-content-center">
                        <a class="card-header__title  justify-content-center align-self-center d-flex flex-column" href="#">
                            <span><img src="{% static 'assets/images/logos/classroom.png' %}" class="mb-1" style="width:50px;" alt="logo"></span>
                            <span class="course__title">{{classroom.name}}</span>
                            {% comment %} <span class="course__subtitle">{{classroom.class_admin}}</span> {% endcomment %}
                        </a>
                    </div>
                    <div class="p-3">
                        <div class="mb-2">
                            <span class="mr-2">
                                <h3></h3>
                            </span>
                            {% comment %} <strong>{{classroom.number_of_students}} Students in this class</strong><br /> {% endcomment %}
                            <small class="text-muted">{{classroom.number_of_students}} students</small>
                        </div>

                        <div class="d-flex align-items-center">
                            <strong class="h4 m-0">{{classroom.class_admin}}</strong>
                            <a href="{% url 'school:classroom_details' classroom.id %}" class="btn btn-primary ml-auto"><i class="material-icons"><span class="material-icons-outlined">
                                visibility
                                </span></i></a>
                        </div>

                        
                    </div>
                </div>
            </div>
            {% empty %}
            <h3>No Classes Available</h3>
            {% endfor %}


        </div>
        <hr>
        <div class="d-flex flex-row align-items-center mb-3">
            <div class="form-inline">
                View
                <select class="custom-select ml-2">
                    <option value="20" selected>20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>
            </div>
            <div class="ml-auto">
                20 <span class="text-muted">of 100</span> <a href="#" class="icon-muted"><i class="material-icons float-right">arrow_forward</i></a>
            </div>
        </div>

    </div>
{% endblock %}